apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: microservices # Cùng namespace với các dịch vụ khác
spec:
  replicas: 1 # Chạy 1 bản là đủ (có thể tăng lên nếu gửi quá nhiều mail)
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      nodeSelector:
        kubernetes.io/hostname: my-dev-cluster-worker3
      containers:
        - name: notification-service
          # Nhớ build và push image này lên Docker Hub của bạn trước khi chạy K8s
          image: huynhnhub2204958/notification-service:latest 
          imagePullPolicy: Always
          ports:
            - containerPort: 3003 # Khớp với cổng trong code Node.js
          env:
            - name: PORT
              value: "3003"

            # Kết nối MongoDB (Để lưu log lịch sử gửi mail)
            # Nếu dùng Mongo trong K8s thì để như dưới, nếu dùng Atlas thì dán link Atlas vào
            - name: MONGODB_URI
              value: "mongodb://mongo:27017/auth_db" 

            # Cấu hình RabbitMQ (Quan trọng nhất)
            # Dán cái link CloudAMQP (amqps://...) của bạn vào đây
            - name: RABBITMQ_URL
              value: "amqps://qepjmiok:VcThLSk2-6r-lTj4p-Ax0tvZYGTFR8lA@gorilla.lmq.cloudamqp.com/qepjmiok"

            # Cấu hình Gmail
            - name: EMAIL_USER
              value: "prescripto1977@gmail.com"
            
            # Mật khẩu ứng dụng 16 ký tự
            - name: EMAIL_PASS
              value: "huiw jzuh czld jslk"