# kind-config.yaml (Đã sửa lỗi)
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: my-dev-cluster

nodes:
# --- Node Control Plane (1 Node) ---
- role: control-plane
  image: kindest/node:v1.31.1 
  
  # ĐỊNH NGHĨA 'extraPortMappings' CHỈ MỘT LẦN DUY NHẤT
  extraPortMappings:
  # # 1. Ánh xạ cho NodePort 30080 (hoặc bất kỳ dịch vụ NodePort khác)
  # - containerPort: 30080 
  #   hostPort: 30080      
  #   listenAddress: "127.0.0.1"
  #   protocol: TCP
  # # 2. Ánh xạ cho NodePort 30080 (hoặc bất kỳ dịch vụ NodePort khác)
  # - containerPort: 31080 
  #   hostPort: 31080      
  #   listenAddress: "127.0.0.1"
  #   protocol: TCP
  # # 1. Ánh xạ cho NodePort 32080 (car-serv)
  # - containerPort: 32443
  #   hostPort: 32443      
  #   listenAddress: "127.0.0.1"
  #   protocol: TCP
  # # 1. Ánh xạ cho NodePort 32080 (car-serv)
  # - containerPort: 32080
  #   hostPort: 32080     
  #   listenAddress: "127.0.0.1"
  #   protocol: TCP
    - containerPort: 30080
      hostPort: 30080
    - containerPort: 30443
      hostPort: 30443
    
# --- Các Node Worker (3 Node) ---
- role: worker
  image: kindest/node:v1.31.1
- role: worker
  image: kindest/node:v1.31.1
- role: worker
  image: kindest/node:v1.31.1