# mongo.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      nodeSelector:
        kubernetes.io/hostname: my-dev-cluster-worker
      containers:
        - name: mongo
          image: mongo:6.0
          ports:
            - containerPort: 27017
---
apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: microservices
spec:
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017